header{
    background-color: #fff;
    z-index: 999;
    width: 100%;
    position: fixed;
    top: 0;
}

@media only screen and (max-width:992px){
    header{
        background-color: #fff;
        z-index: 999;
        width: 100%;
        position: fixed;
        top: 0;
    }
}
@media only screen and (max-width:768px){
    header{
        background-color: #fff;
        z-index: 999;
        width: 100%;
        position: fixed;
        top: 0;
    }
}